# ==============================
# Ambiente virtual Python
# ==============================
venv/
env/
.env


# ==============================
# Cache e arquivos temporários Python
# ==============================
__pycache__/
*.pyc
*.pyo


# ==============================
# Banco de dados local (desenvolvimento)
# ==============================
*.db
*.sqlite3


# ==============================
# Configurações do editor (VSCode)
# ==============================
.vscode/


# ==============================
# Arquivos do sistema operacional
# ==============================
.DS_Store
Thumbs.db
