{% extends "estrutura/base.html" %}
{% block body %}

<h1>Usuários Cadastrados</h1>

{% if usuarios|length == 0 %}
<p>Nenhum usuário encontrado.</p>
{% else %}
<table border="1" cellpadding="8">
    <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Ativo</th>
        <th>Detalhes</th>
    </tr>

    {% for u in usuarios %}
    <tr>
        <td>{{ u.nome }}</td>
        <td>{{ u.tipo }}</td>

        {% if u.ativo %}
        <td class="status-ativo">Ativo</td>
        {% else %}
        <td class="status-inativo">Inativo</td>
        {% endif %}

        <td>
            <a href="{{ url_for('detalhes_usuario', id=u.id) }}">
                Ver Detalhes
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}