{% extends "estrutura/base.html" %}

{% block title %}Serviços Digitais - Home{% endblock %}

{% block body %}

<div class="container mt-4">

    <main class="center-column">

        <!-- HEADER -->
        <section class="content mb-4">
            <h2>Bem vindo ao <b>Serviços Digitais</b></h2>
            <h5>O app que facilita a sua demanda</h5>
        </section>

        <!-- CONTEÚDO PRINCIPAL -->
        <section class="content home-flex">

            <article>
                <h4>Nossa História</h4>
                <p>Criamos o app para facilitar tanto cliente quanto prestadores…</p>
                <p>O principal motivo foi que verificamos alguns condomínios…</p>
            </article>

            {% if not usuario_logado %}
            <aside class="card-login-direita">
                <h3 class="text-center mb-2">Faça seu Cadastro</h3>
                <p>Veja como é prático nossos serviços.</p>

                <div class="d-flex justify-content-center gap-2 mt-2">
                    <a href="{{ url_for('cadastros.cadastrar_cpf') }}" class="btn btn-cadastro btn-sm">CPF</a>
                    <a href="{{ url_for('cadastros.cadastrar_prestador') }}" class="btn btn-cadastro btn-sm">Prestador</a>
                    <a href="{{ url_for('cadastros.cadastrar_cnpj') }}" class="btn btn-cadastro btn-sm">CNPJ</a>
                </div>
            </aside>
            {% endif %}

        </section>

        <!-- GRID INFERIOR -->
        <section class="content home-grid">

            <article class="box-border">
                <h5>REGIÕES DE ACESSO AO APP</h5>
                <ul>
                    {% for r in regioes %}
                    <li><b>{{ r }}</b></li>
                    {% endfor %}
                </ul>
            </article>

            <article class="box-border">
                <h5>NOSSOS SERVIÇOS</h5>
                <ul>
                    {% for s in servicos %}
                    <li><b>{{ s }}</b></li>
                    {% endfor %}
                </ul>
            </article>

        </section>

    </main>

</div>

{% endblock %}